<?php
$site_url = get_option( 'siteurl' );
?>
<style type="text/css">
<!--
.style2 {color: #999999}
.style3 {color: #666666}
.style4 {
	color: #D50948;
	font-weight: bold;
	font-style: italic;
}
.style5 {color: #D50948}
.style6 {
	color: #D50948;
	font-size: 9px;
	font-style: italic;
}
-->
</style>
<hr />  

    <h2>USE</h2>
   
   <p> Click <span class="style5"><strong>edit</strong></span> to set the slider.
Add, edit, or delete the items you want to display the slider. You can see here the options you have for item:</p>
<ul>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono1.png" width="50" height="50" /> <span class="style5"><em><strong>Main Image</strong></em>.</span> <span class="style3">Choose the main image. </span></li>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono3.png" width="50" height="50" /> <span class="style5"><strong><em>Title</em></strong>. </span><span class="style3">The title of each image. </span></li>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono5.png" width="50" height="50" /> <span class="style4">Link.</span> <span class="style3">You can add a link in the image. </span></li>
</ul>
<p class="style2">__________________________________________________________________________________________________________________________________________________________________</p>
<p><strong>You can enter the url of the images manually or press the button "change image". Pressing the button will load the library wordpress images, select the image you want and click "Insert in Post" to insert the image in the slider.</strong>
</p>
<p>&nbsp;   </p>
<p>After the items, the slider has the configuration options and overall design of the scroll. These are among others: width of the slider, the slider height, colors, ...   </p>
<p>&nbsp;</p>
<p class="style6">Visit our page and see more premium plugins! </p>
<table width="100%" border="0" align="center">
  <tr>
    <td width="21%"><a href="http://www.pluginswp.com/"><img src="<?php echo plugins_url('bannerpluginsfinal2.jpg', __FILE__); ?>" border="0" /></a></td>
    <td width="21%"><a href="http://www.pluginswp.com/matrix-gallery/"><img src="<?php echo plugins_url('matrixl_banner2.jpg', __FILE__); ?>" border="0" /></a></td>
    <td width="58%"><a href="http://www.pluginswp.com/ultimate-full-video-gallery/"><img src="<?php echo plugins_url('n2.jpg', __FILE__); ?>" border="0" /></a></td>
  </tr>
</table>
<p>&nbsp;</p>
<hr>
</div>

